<div class="row justify-content-center" style="margin-top: -7%; margin-bottom: 80px;">
  <div class="col-sm-6">
    <span [innerHTML]="'step-2.select-training' | translate" class="select-training"></span>
  </div>
</div>
<div class="row justify-content-center" *ngIf="filteredVideoList.length > 0">
  <div class="col-2 col-sm-1" (click)="previousPage()" *ngIf="totalPages > 1">
    <mat-icon class="navigation-icons" [ngClass]="currentPage == 0 ? 'disabled-navigation' : ''">chevron_left</mat-icon>
  </div>
  <div class="col-8 col-sm-2" [ngClass]="trainingTypePicked == video.code ? 'video-selected': ''" style="margin-bottom: 60px;"
       *ngFor="let video of filteredVideoList"
       (click)="markVideoSelected(video.code)">
    <video width="100%" height="100%" controls *ngIf="video.files.length > 0" [poster]="getPosterUrl(video)">
      <source [src]="getVideoUrl(video)" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <br/>
    <span class="video-title" [innerHTML]="video.name"></span>
  </div>
  <div class="col-2 col-sm-1" (click)="nextPage()" *ngIf="totalPages > 1">
    <mat-icon class="navigation-icons" [ngClass]="currentPage + 1 == totalPages ? 'disabled-navigation' : ''">chevron_right</mat-icon>
  </div>
</div>
<div class="row justify-content-end" style="margin-top: 30px; margin-bottom: 30px;">
  <div class="col-sm-2">
    <button mat-raised-button class="next-button" [disabled]="trainingTypePicked == null" (click)="nextStep()">{{'next' | translate}}</button>
  </div>
</div>
