<div class="row justify-content-center">
  <div class="plan-images-background" style="margin-right: 10px" [routerLink]="['../step-2']">
    <img src="assets/training-plan-icon.png" class="plan-images"/>
  </div>
  <div class="plan-images-background" style="margin-left: 30px;">
    <img src="assets/diet-plan-icon.png" class="plan-images"/>
  </div>
</div>
<div class="row justify-content-center">
  <div class="plan-text" style="margin-right: 10px">
    <span>Training plan</span>
  </div>
  <div class="plan-text" style="margin-left: 30px;">
    <span>Diet plan</span>
  </div>
</div>
