.goal {
  font-size: 60px;
  color: #333333;
  font-weight: 400;
}

.goal-selected {
  border: 1px solid #00b7ff;
}

.card-content {
  text-align: center;
  margin-left: 18px;
}

.card-container-center{
  text-align: center;
  margin-top: 12px;
}
