<div class="row justify-content-center" style="margin-top: -4%;">
  <div class="col-sm-3">
    <span [innerHTML]="'sex' | translate" class="title"></span>
  </div>
</div>
<div class="row justify-content-center">
  <div class="gender-images-background" style="background: #2962ff;"
       (click)="selectGender('MALE')" [ngClass]="selectedGender == 'MALE' ? 'gender-images-selected' : 'gender-images-not-selected'">
    <img src="assets/male-sign.png" class="male-image"/>
  </div>
  <div class="gender-images-background"
       (click)="selectGender('FEMALE')" [ngClass]="selectedGender == 'FEMALE' ? 'gender-images-selected' : 'gender-images-not-selected'">
    <img src="assets/female-sign.png" class="female-image"/>
  </div>
</div>
<div class="row justify-content-center" style="margin-top: 10px;">
  <div class="col-3 col-sm-1 age-text text-right">Age: 0</div>
  <div class="col-7 col-sm-8">
    <div class="gradient-scale" style="width: 100%;">&nbsp;</div>
  </div>
  <div class="col-2 col-sm-1 age-text text-left">99</div>
</div>
<div class="row justify-content-center">
  <div class="col-7 col-sm-8">
    <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1"
      min="0" max="99" style="width: 100%" (input)="onInputChange($event)"></mat-slider>
  </div>
</div>
<div class="row justify-content-end">
  <div class="col-sm-2">
    <button mat-raised-button class="next-button" [disabled]="selectedGender == null || selectedAge == null" (click)="nextStep()">{{'next' | translate}}</button>
  </div>
</div>
