<div style="margin-top: 300px">
  <div class="row justify-content-center">
    <span class="step-title">Bio-metrics</span>
  </div>
  <div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-sm-2 rectangles" style="margin-right: 37px;">
      <div style="margin-left: 20px">
        <div class="row">
          <span class="rectangle-titles">Your measures</span>
        </div>
        <div class="row">
          <div class="horizontal-line"></div>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-sm-4">
            <span class="labels">HEIGHT</span>
          </div>
          <div class="col-sm-6" style="margin-top: -18px;">
            <form class="form">
              <mat-form-field class="example-full-width">
                <mat-icon matPrefix (click)="decrementValue('height')">keyboard_arrow_down</mat-icon>
                <!--<input type="text" name="height" matInput [(ngModel)]="height" [matKeyboard]="'numberLayout'" (change)="onHeightChange()">-->
                <input type="text" name="height" matInput [(ngModel)]="height" (change)="onHeightChange()">
                <mat-icon matSuffix (click)="incrementValue('height')">keyboard_arrow_up</mat-icon>
              </mat-form-field>
            </form>
          </div>
          <div class="col-sm-2">
            <span class="labels">cm</span>
          </div>
        </div>
        <div class="row">
          <span class="warning">Tolerancija zbog obuće</span>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-sm-4">
            <span class="labels">WEIGHT</span>
          </div>
          <div class="col-sm-6" style="margin-top: -18px;">
            <form class="form">
              <mat-form-field class="example-full-width">
                <mat-icon matPrefix (click)="decrementValue('weight')">keyboard_arrow_down</mat-icon>
                <!--<input type="text" name="weight" matInput [(ngModel)]="weight" [matKeyboard]="'numberLayout'" (change)="onWeightChange()">-->
                <input type="text" name="weight" matInput [(ngModel)]="weight" (change)="onWeightChange()">
                <mat-icon matSuffix (click)="incrementValue('weight')">keyboard_arrow_up</mat-icon>
              </mat-form-field>
            </form>
          </div>
          <div class="col-sm-2">
            <span class="labels">kg</span>
          </div>
        </div>
        <div class="row">
          <span class="warning">Tolerancija zbog odjeće</span>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-sm-4">
            <span class="labels">WAIST</span>
            <span class="optional">*</span>
          </div>
          <div class="col-sm-6" style="margin-top: -18px;">
            <form class="form">
              <mat-form-field class="example-full-width">
                <mat-icon matPrefix (click)="decrementValue('waist')">keyboard_arrow_down</mat-icon>
                <!--<input type="text" name="waist" matInput [(ngModel)]="waist" [matKeyboard]="'numberLayout'" (change)="onWaistChange()">-->
                <input type="text" name="waist" matInput [(ngModel)]="waist" (change)="onWaistChange()">
                <mat-icon matSuffix (click)="incrementValue('waist')">keyboard_arrow_up</mat-icon>
              </mat-form-field>
            </form>
          </div>
          <div class="col-sm-2">
            <span class="labels">cm</span>
          </div>
        </div>
        <div class="row">
          <span class="optional">*</span>
          <span class="warning">ENTER OPTIONALLY <br/><br/>
            YOU CAN MEASURE WAIST WITH OUR BUILT-IN METER
        </span>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <img src="assets/img/vizual-silueta-ljudi.png" style="height: 358px;"/>
    </div>
    <div class="col-sm-2 rectangles">
      <div style="margin-left: 20px">
        <div class="row">
          <span class="rectangle-titles">Activity</span>
        </div>
        <div class="row">
          <div class="horizontal-line"></div>
        </div>
        <div class="row" *ngFor="let activity of activities" [ngClass]="activity.code === activityChecked ? 'selected-activity': ''" style="margin-top:20px;">
          <div class="col-sm-10">
            <span class="labels">{{activity.name}}</span>
          </div>
          <div class="col-sm-2">
            <label class="container"> &nbsp;
              <input type="radio" name="radio">
              <span class="checkmark" (click)="onActivityChange(activity.code)"></span>
            </label>
          </div>
          <div class="col-sm-12" *ngIf="activity.code == activityChecked">
            {{activity.notes}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
