.biometrics {
  font-size: 60px;
  color: #333333;
  font-weight: 400;
}

.your-measures {
  font-size: 24px;
  color: #555555;
  font-weight: 400;
}

.input-font-color {
  color: black !important;
  width: 100% !important;
}

.step-3-target-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.step-3-target-radio-button {
  margin: 5px;
  color: black !important;
}
