<h1 mat-dialog-title>GDPR and Terms of Agreements</h1>
<div mat-dialog-content>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et sagittis lorem, aliquam dignissim lorem. Nulla eu diam
  ut ante egestas efficitur id semper tellus. Donec eget egestas eros, sed suscipit tortor. Cras nibh ante, condimentum
  in risus vel, iaculis accumsan risus. Nunc ut ligula nec massa vestibulum ultricies. Vestibulum velit quam, semper
  quis ipsum ut, cursus feugiat magna. Mauris aliquet elit id tortor ultricies elementum. Morbi laoreet feugiat luctus.
  Vivamus semper hendrerit dui, eget sodales orci accumsan a. Nunc vel leo eget mauris finibus commodo.

  Nullam dui odio, tempus id ultricies vel, ullamcorper vitae eros. Phasellus sit amet hendrerit nunc, et iaculis
  libero. Donec nulla massa, iaculis mollis cursus eget, maximus ac urna. Proin posuere at odio in imperdiet. Aliquam
  sed nisl dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis euismod finibus. Curabitur nec
  varius justo. Praesent mattis dui ac nibh laoreet euismod. Aenean est ligula, tempor ullamcorper ex semper, viverra
  aliquet arcu. Integer tempus auctor eros, a tincidunt purus malesuada id. Praesent ac nulla id nunc interdum dictum eu
  molestie leo.

  Duis sem eros, placerat at ipsum sit amet, rhoncus dapibus ipsum. Nullam in tellus nunc. Sed id orci eget arcu
  fermentum vulputate. Duis quis posuere turpis. Quisque aliquam mattis hendrerit. Etiam sit amet vestibulum orci.
  Praesent id metus et mi gravida elementum et in ante. Proin imperdiet massa a orci consectetur, et tincidunt quam
  porttitor. Proin lobortis finibus diam vel porttitor. Orci varius natoque penatibus et magnis dis parturient montes,
  nascetur ridiculus mus. Donec sed felis id nisl egestas sagittis a eu magna. Donec placerat mauris ac risus molestie
  porttitor. Fusce molestie felis quis sagittis viverra. Aliquam at diam scelerisque, laoreet metus ut, posuere ipsum.

  Quisque egestas tellus ut porttitor faucibus. Duis gravida lacus id consectetur pellentesque. Etiam id ultrices ipsum.
  Etiam pulvinar tempus tellus. Etiam risus augue, rhoncus in sapien eget, fermentum accumsan nulla. Cras faucibus nisi
  eu feugiat euismod. Ut et dolor quis sem posuere fringilla vitae vitae risus. Phasellus vestibulum interdum ipsum
  vitae tincidunt. Morbi volutpat aliquam ipsum varius molestie. Vivamus rutrum hendrerit urna vel consequat. Mauris
  pharetra lacinia ipsum et pretium. Suspendisse hendrerit lectus non diam dapibus, et luctus massa tempus. Phasellus
  condimentum lacus in leo venenatis sollicitudin.

  Aliquam erat volutpat. Cras sed felis mollis purus blandit consectetur. Nam molestie lacus eget rutrum dapibus.
  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus et hendrerit
  diam. Aliquam elementum lectus non nisi posuere, eget bibendum ipsum tincidunt. Pellentesque orci diam, volutpat id
  magna et, varius sollicitudin massa. Nunc pulvinar imperdiet quam, vel eleifend dui bibendum eget. Nam et bibendum
  nulla. Etiam maximus urna ligula, in imperdiet est viverra id.
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClickClose()" cdkFocusInitial>Close</button>
</div>
