.biometrics {
  font-size: 43px;
  color: #333333;
  font-weight: 200;
}

.text-style {
  font-size: 15px;
  line-height: 24px;
  color: #555555;
  font-weight: 400;
}

.recommendations {
  border: solid 1px grey;
}

.input-font-color {
  color: black !important;
  width: 100% !important;
}

.box-title {
  font-size: 27px;
  color: #333333;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 24px;
}

.box-style {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.food-picker {
  margin-right: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid grey 6px;
  line-height: 67px;
}

.food-picker-selected {
  border: solid #00b7ff 6px !important;
}

.food-picker .text-style {
  vertical-align: middle;
}
