<div style="margin-top: 300px">
  <div class="row justify-content-center">
    <span class="step-title">{{'meal-plan' | translate}}</span>
  </div>
  <div class="row" style="margin-top: 100px;">
    <div class="col-sm-3" *ngFor="let mealPlanSchedule of mealPlanSchedules; let i = index"
         [ngClass]="i % 2 == 0 ? 'offset-3' : ''" style="margin-bottom: 20px;" (click)="mealPlanScheduleSelected(mealPlanSchedule.id)">
      <img [src]="getMealPlanScheduleImage(mealPlanSchedule)" style="width: 400px;"/>
      <div *ngIf="checkIsMealPlanSelected(mealPlanSchedule.id)" class="meal-plan-tag-selected"> {{mealPlanSchedule.notes}}</div>
    </div>
  </div>
</div>
