.main-background{
  height: 100vh;
  background-image:url('../assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.welcome-text {
  font-size: 60px;
  color: #ffffff;
  font-weight: 400;
}

.language-box {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border: 1px solid lightgray;
  border-radius: 20px;
}

.video-holder {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.choose-language-text {
  font-size: 27px;
  color: #333333;
  font-weight: 500;
}

.language {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}

.selected-language {
  color: #2962ff;
}

.language-image {
  height: 50px;
}

.start-button {
  background: #f25950;
  font-size: 25px;
  color: #ffffff;
  padding: 1% 4%;
}

.navigation-icons {
  margin-top: 51px;
  color: black;
  font-size: 50px;
}

.disabled-navigation {
  color: lightgray;
}


@media only screen and (max-width: 444px) {
  .welcome-text {
    font-size: 30px;
    color: black;
  }
}
