<div *ngIf="route.children.length == 0" style="margin-top: -30px;">
<!--  <video autoplay="true" muted="muted" loop id="video-background"  #videoPlayer>
    <source src="assets/videos/fitness-women-doing-training-exercises-with-H3NRVBX.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>-->
  <!--<img src="assets/img/home_background_1.jpg" id="video-background">-->

  <div class="element">
    <img src="assets/img/home_background.png"/>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/img/logo.png" class="image-logo"/>
      </div>

      <div class="col-sm-2 offset-6" style="margin-top: 28px; padding-right: 50px;">
        <div class="row">
          <div class="col-sm-4">
            <img *ngIf="selectedLanguage == 'de'" src="assets/img/njemacki.png" class="image-country"/>
            <img *ngIf="selectedLanguage != 'de'" src="assets/img/njemacki-neaktivan.png" class="image-country"
                 (click)="setLanguage('de')"/>
          </div>
          <div class="col-sm-4">
            <img *ngIf="selectedLanguage == 'en'" src="assets/img/engleski.png" class="image-country"/>
            <img *ngIf="selectedLanguage != 'en'" src="assets/img/engleski-neaktivan.png" class="image-country"
                 (click)="setLanguage('en')"/>
          </div>
          <div class="col-sm-4">
            <img *ngIf="selectedLanguage == 'hr'" src="assets/img/hrvatski.png" class="image-country"/>
            <img *ngIf="selectedLanguage != 'hr'" src="assets/img/hrvatski-neaktivan.png" class="image-country"
                 (click)="setLanguage('hr')"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="offset-10" style="width: 272px;">
        <div class="money-input">
          <span class="saldo" style="margin-left: 24px;">Saldo: </span>
          <span class="saldo"
                [ngClass]="{'saldo-zero': moneyAmount==-1, 'saldo-not-enough':(moneyAmount >= 0 && moneyAmount<10), 'saldo-enough':moneyAmount>=10 }">{{getCurrentMoneyAmount() |currency:'EUR':true}}</span>
          <img src="assets/img/check-circle-empty.png" *ngIf="moneyAmount < 10" class="money-icon-check"/>
          <img src="assets/img/check-circle-good.png" *ngIf="moneyAmount >= 10" class="money-icon-check"/>
          <br/>
          <span class="saldo-needed" style="margin-left: 24px;">{{'money-needed' | translate}} {{10 |currency:'EUR':true}}</span>
        </div>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-top:140px">
      <div class="welcome-rectangle">
        <div class="welcome-text-placeholder">
          <div class="welcome-text">{{'welcome' | translate}}</div>
          <div class="welcome-subtext">{{'start-change' | translate}}</div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 20px;" *ngIf="moneyAmount != 10">
      <div class="start-rectangle" [@animateStartButton]="moneyAmountAnimation">
        <div class="start-text-placeholder">
          <div class="start-button-text" (click)="navigateToSteps()">START</div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 20px;" *ngIf="showAddMoneyButton">
      <div class="start-rectangle">
        <div class="start-text-placeholder" (click)="startMoneySession()">
          <div class="start-button-text">{{'add-money' | translate}}</div>
          <div class="start-button-sub-text">{{'press' | translate}}</div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 20px;" *ngIf="showCancelButton">
      <div class="cancel-rectangle">
        <div class="start-text-placeholder">
          <div class="start-button-text" (click)="returnMoney()">{{'cancel' | translate}}</div>
        </div>
      </div>
    </div>


  </div>
</div>


<router-outlet></router-outlet>



