<div style="margin-top: 300px">
  <div class="row justify-content-center">
    <span class="step-title">Training plan</span>
  </div>
  <div class="row" style="margin-top: 100px;">
    <div class="col-sm-3" *ngFor="let trainingType of trainingTypes; let i = index"
         [ngClass]="[i % 2 == 0 ? 'offset-3' : '']"
         style="margin-bottom: 20px;" (click)="trainingTypeSelected(trainingType.code)">
      <video controls>
        <source [src]="getVideoUrl(trainingType)" type="video/mp4" >
        Your browser does not support HTML5 video.
      </video>
      <div class="video-notes" *ngIf="selectedTrainingType == trainingType.code && trainingType.notes" >
        {{trainingType.notes}}
      </div>
    </div>
  </div>
</div>
