<div style="margin-top: 300px">
  <div class="row justify-content-center">
    <span class="step-title">{{'training-plan' | translate}}</span>
  </div>
  <div class="row justify-content-center">
    <span class="step-subtitle">Ovo su treninzi koji vas očekuju na vašem profilu. Kliknite Next za dovršetak prijave.</span>
  </div>
  <div class="row" style="margin-top: 100px;">
    <div class="col-sm-3" *ngFor="let exerciseGroup of exerciseGroups; let i = index"
         [ngClass]="i % 2 == 0 ? 'offset-3' : ''" style="margin-bottom: 20px;" (click)="exerciseGroupSelected(exerciseGroup.id)">
      <img [src]="getExerciseGroupImage(exerciseGroup)" style="width: 400px;"/>
      <div *ngIf="selectedExerciseGroup == exerciseGroup.id" class="exercise-group-selected"> {{exerciseGroup.description}}</div>
    </div>
  </div>
</div>
