<div class="row justify-content-center" style="margin-top: -4%">
  <div class="col-sm-8">
    <span [innerHTML]="'step-6.gdpr-title' | translate" class="gdpr-title"></span>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6 box-style">
    <p [innerHTML]="'step-6.gdpr-content' | translate" class="gdpr-content " scrollable></p>
  </div>
</div>
<div class="row justify-content-center">
  <mat-checkbox class="text" [(ngModel)]="gdprAccepted">{{'agree' | translate}}</mat-checkbox>
</div>
<div class="row justify-content-end">
  <div class="col-sm-2">
    <button mat-raised-button class="next-button" [disabled]="gdprAccepted == false" (click)="nextStep()">{{'next' | translate}}</button>
  </div>
</div>
