* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 17px;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.element {
  display:inline-block;
  position: fixed;
  width: 1920px;
  height: 1080px;
  -webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 45%);
  clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 45%);
}

.navigation-numbers {
  height: 57px;
  margin-top: 17px;
}

.navigation-text {
  font-size: 30px;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  width: 136px;
  height: 25px;
  margin-top: 17px;
}

.navigation-text-disabled {
  color: #d7d7d7 !important;
}

.quote-text {
  font-size: 40px;
  font-family: 'Playfair Display', sans-serif;
  color: rgb(153, 153, 153);
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
  width: 513px;
  height: 78px;
}

.quote-author {
  font-size: 25px;
  color: rgb(153, 153, 153);
  font-weight: bold;
  line-height: 1.2;
  width: 513px;
  height: 78px;
}

.navigation-position {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 107px;
  background-image: url("../../assets/img/pozadina.jpg");
}



