<img [src]="'assets/img/step' + activeStep + '_background.jpg'" id="image-background">

<div class="element">
  <img src="assets/img/pozadina.jpg"/>
</div>
<div class="content">
  <div style="position: fixed; width: 97%;">
    <div class="row">
      <div class="col-sm-1">
        <img src="assets/img/LW-logotip.png" class="image-logo"/>
      </div>
      <div class="col-sm-3 offset-8 text-right" *ngIf="selectedLanguage == 'hr'">
        <span class="quote-text">{{quotes[activeStep-1].quoteText}}</span><br/>
        <span class="quote-author">{{quotes[activeStep-1].quoteAuthor}}</span>
      </div>
      <div class="col-sm-3 offset-8 text-right" *ngIf="selectedLanguage == 'en'">
        <span class="quote-text">{{quotesEn[activeStep-1].quoteText}}</span><br/>
        <span class="quote-author">{{quotesEn[activeStep-1].quoteAuthor}}</span>
      </div>
      <div class="col-sm-3 offset-8 text-right" *ngIf="selectedLanguage == 'de'">
        <span class="quote-text">{{quotesDe[activeStep-1].quoteText}}</span><br/>
        <span class="quote-author">{{quotesDe[activeStep-1].quoteAuthor}}</span>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <app-step1 *ngIf="activeStep == 1" (step1Valid)="activeStepUpdate($event)"></app-step1>
      <app-step2 *ngIf="activeStep == 2" (step2Valid)="activeStepUpdate($event)"></app-step2>
      <app-step3 *ngIf="activeStep == 3" (step3Valid)="activeStepUpdate($event)"></app-step3>
      <app-step4 *ngIf="activeStep == 4" (step4Valid)="activeStepUpdate($event)"></app-step4>
      <app-step5 *ngIf="activeStep == 5" (step5Valid)="activeStepUpdate($event)"></app-step5>
      <app-step6 *ngIf="activeStep == 6" (step6Valid)="activeStepUpdate($event)"></app-step6>
      <app-step7 *ngIf="activeStep == 7"></app-step7>
    </div>
  </div>
  <div style="height: 107px;"></div>
  <div class="row justify-content-center navigation-position" *ngIf="activeStep != 7">
    <div class="col-sm-2" (click)="navigatePreviousStep()" style="margin-top: 17px;" *ngIf="activeStep > 1">
      <img src="assets/img/strjelica-nazad.png" style="height: 57px"/>
      <span class="navigation-text" >
        {{'back' | translate}}
      </span>
    </div>
    <div class="col-sm-1" *ngFor="let i of steps">
      <img *ngIf="activeStep == i" [src]="'assets/img/ikona-' + i + '-aktivna.png'" class="navigation-numbers"/>
      <img *ngIf="activeStep != i" [src]="'assets/img/ikona-' + i + '-neaktivna.png'" class="navigation-numbers"/>
    </div>
    <div class="col-sm-2" (click)="navigateNextStep()" style="margin-top: 17px;">
      <span class="navigation-text" [ngClass]="{'navigation-text-disabled': navigationDisabled}"  *ngIf="activeStep < 6">
        {{'next' | translate}}
      </span>
      <span class="navigation-text" [ngClass]="{'navigation-text-disabled': navigationDisabled}" *ngIf="activeStep == 6">
        {{'finish' | translate}}
      </span>
      <img src="assets/img/strjelica-naprijed.png" style="height: 57px"/>
    </div>
  </div>
  <div class="row justify-content-center" style="position: fixed; bottom: 25px; right: 20px">
    <div [ngClass]="!disableCancelButton ? 'cancel-rectangle' : 'cancel-rectangle-disabled'">
      <div class="start-text-placeholder">
        <div class="start-button-text" (click)="returnMoney()">{{'cancel' | translate}}</div>
      </div>
    </div>
  </div>
</div>


