@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
// add css utilities
@import "reset";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* You can add global styles to this file, and also import other style files */
//body {
//  background-image:url('/assets/background.png');
//  background-repeat: no-repeat;
//  background-size: 100% 100%;
//}
//html {
//  height: 100%;
//  margin:0 auto;
//}

body, html {
  height: 100%;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

* {
  font-family: 'Source Sans Pro', sans-serif;

}

.image-logo {
  width: 100%;
  margin-left: 42px;
}

.content {
  margin: 30px;
}

.step-title {
  font-size: 78px;
  font-family: 'Playfair Display', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  width: 621px;
  height: 63px;
}

.html::-webkit-scrollbar {
  width: 0 !important
}


.next-button {
  background-color: #62bc58 !important;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
}

.mat-form-field-suffix {
  background-color: #cccccc !important;
  padding: 7px !important;
}

//.mat-step-header .mat-step-icon-selected {
//  background-color: #f25950 !important;
//  color: #fff;
//}

.mat-card-header-text {
  width: 100% !important;
}


